extends ../layout/index 
block content 
    div.bg-grey-lighter.min-h-screen.flex.flex-col
        div.container.max-w-sm.mx-auto.flex-1.flex.flex-col.items-center.justify-center.px-2
            div.bg-white.px-6.py-8.rounded.shadow-md.text-black.w-full



                form(class="flex flex-col items-center" action='/auth/register' method="post")
                    h1.mb-8.text-2xl Truck-managament | #{title}
                    img.w-32.flex-center(src='/images/logo.png' alt='')
                    
                    input(type="hidden" name="_csrf" value=csrfToken)

                    input.block.border.border-grey-light.w-full.p-3.rounded.mb-4(type='text' name='name' placeholder='Name')
                    
                    input.block.border.border-grey-light.w-full.p-3.rounded.mb-4(type='email' name='email' placeholder='Email')
                    
                    input.block.border.border-grey-light.w-full.p-3.rounded.mb-4(type='password' name='password' placeholder='Password')
                    
                    input.block.border.border-grey-light.w-full.p-3.rounded.mb-4(type='password' name='repeat_password' placeholder='Confirm Password')

                    if errors
                        each error in errors 
                            div.text-red=error.msg

                    button.w-full.text-center.py-3.rounded.bg-black.text-white.my-1(type='submit' class='hover:bg-green-dark focus:outline-none') Create Account
                    
                    div.text-center.text-sm.text-grey-dark.mt-4
                        | By signing up, you agree to the 
                        a.no-underline.border-b.border-grey-dark.text-grey-dark(href='#')
                            | Terms of Service
                        |  and 
                        a.no-underline.border-b.border-grey-dark.text-grey-dark(href='#')
                            | Privacy Policy
                div.text-grey-dark.mt-6
                    | Already have an account?? 
                    a.border-b.border-blue.text-blue(href='/auth/login')
                        | Log in
                    | .
